*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
input,button{
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #F5ECD5;
    font-size: 20px;
}
#col{
    background-color: #F5ECD5;
    color: black;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 10px;
}
hr,p,h4{
    margin: 0% !important;
}